AuthGroupFile /dev/null
AuthType Basic
AuthUserFile /home/tbwaxmas/domains/tbwadisruptionxmas.com/.htpasswd/public_html/beta/.htpasswd
AuthName "Private"
require valid-user
ErrorDocument 401 "Unauthorized Access"
